body, html {
	margin: 0;	
	padding:0;
}

#loader-background {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bee-loader{
	height: 20%;
}

.gradient-fade {
	background-image: radial-gradient(circle at center, black 100%);
	/* background-color: magenta; */
}

.loader-gradient {
	background-image: radial-gradient(circle at center, black 30%, #FAA91F);
}